@import "reset";
@import "https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap";

body {
  background-color: #303236;
  font-family: Muli;
}

input {
  height: 50px;
  width: 100%;
  background: #303236;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  caret-color: #2ccdea;

  &:focus {
    outline: 0;
  }
  &::placeholder {
    color: #fff;
    opacity: 0.5;
    text-indent: 10px;
  }
}

.component--search {
  height: 400px;
  width: 377px;
  margin: 20px;
  background-color: #3d3f43;
  border-radius: 5px;
  padding: 40px 45px;
  form {
    position: relative;
    margin-bottom: 30px;
    .search-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 53px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
      padding-left: 53px;
      box-shadow: 0px 2px 4px 0px #000000;
    }
  }
  h6 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
  ul {
    margin-top: 13px;
    li {
      a {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        padding: 7px 0;
        &:hover {
          color: #2ccdea;
          font-weight: bold;
        }
      }
      &.active a {
        color: #2ccdea;
        font-weight: bold;
      }
    }
  }
}

.component--filter-search {
  margin: 20px;
  background-color: #3d3f43;
  border-radius: 5px;
  form {
    height: 68px;
    padding: 14px;
    display: flex;
    .input {
      display: flex;
      align-items: center;
      flex: 1;
      margin-right: 20px;
      border-right: 1px solid #303236;

      .search-icon {
        width: 50px;
        text-align: center;
      }
      input {
        background-color: transparent;
        height: 40px;
        width: 100%;
        font-size: 16px;
        border: none;
        color: #fff;

        &:focus {
          outline: 0;
        }
        &::placeholder {
          color: #fff;
          opacity: 0.5;
          text-indent: 10px;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        label {
          input {
            display: none;
            &:checked + .text {
              background-color: #303236;
              color: #2ccdea;
            }
          }
          .text {
            display: block;
            height: 40px;
            padding: 0 25px;
            line-height: 40px;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            border-radius: 40px;
          }
        }
      }
    }
  }
}

.component--filter {
  margin: 20px;
  background-color: #3d3f43;
  border-radius: 5px;
  width: 468px;
  form {
    padding: 40px 45px;
    ul {
      padding-bottom: 40px;
      border-bottom: 1px solid #303236;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .key {
          color: #fff;
          font-size: 16px;
        }
        .value {
          select {
            height: 50px;
            background-color: #303236;
            color: #fff;
            font-size: 16px;
            outline: none;
            border: none;
            width: 287px;
            border-radius: 5px;
            text-indent: 15px;
          }
          input {
            height: 50px;
            width: 287px;
            text-indent: 15px;
          }
        }
      }
    }
    .filter-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      a {
        font-size: 15px;
        color: #d8d8d8;
      }
      button {
        border-radius: 25px;
        height: 50px;
        font-size: 15px;
        padding: 15px 30px;
        color: #fff;
        border: none;
        background: rgb(90, 90, 184);
        background: linear-gradient(
          90deg,
          rgba(90, 90, 184, 0) 0%,
          rgba(49, 165, 217, 1) 0%,
          rgb(9, 122, 150) 100%
        );
      }
    }
  }
}
